.crud_orders_list{
    margin-top: 50px;
}
.crud_orders_header{
    display: flex;
    justify-content: space-between;    
    font-family: 'Graphik';
    height: 50px;
    align-items: center;
}

.crud_orders_header h2{
    font-weight: 500;
    font-size: 16px;
}
.order_list{  
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}