.container_info_user h3 {
  font-size: 40px;
  font-family: "Nanum Regular";
  font-weight: 250;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.data_user {
  padding-top: 35px;
  display: flex;
  width: 25%;
  margin: auto;
  flex-direction: column;
}
.data_user input {
  padding: 8px;
  margin: 10px 10px 30px 10px;
}
.data_user label {
  font-size: 14px;
  font-family: "Graphik";
  font-weight: 450;
  margin-left: 10px;
}
.btn_data_user {
  padding-top: 35px;
  display: flex;
  width: 25%;
  margin: auto;
}
.btn_enviar_user,
.btn_volver_user {
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: auto;
  padding: 12px;
  font-size: 12px;
  font-family: "Graphik";
  font-weight: 450;
}
.btn_enviar_user:hover {
  background-color: rgb(87, 87, 87);
}
.btn_volver_user:hover {
  background-color: rgb(87, 87, 87);
}

.btn_volver_user:active,
.btn_volver_user:visited,
.btn_volver_user:link {
  text-decoration: none;
}
.form_input_submit input {
  width: 25%;
  color: white;
  background-color: black;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
  padding: 12px;
  padding-top: 3%;
  font-size: 12px;
  font-family: "Graphik";
  font-weight: 450;
  margin: 10px 0;
}
.form_input_submit input:hover {
  background-color: #9ba0a5;
}
