.my_reviews_list {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}
.my_reviews_header h2 {
  font-size: 40px;
  font-family: "Nanum Regular";
  font-weight: 250;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
