.search_bar{
    margin-left: 30px;
    width: 300px;
    border: none;
    padding: 10px;
}
    
.search_btn {
    padding: 10px;
    border: none; 
    cursor: pointer
}

.search_btn:focus, .search_bar:focus  {
    outline: none;
}